{% extends "base.html" %}

{% block content %}
<heading id = "show-title">
  <h2>
    Edit Country
  </h2>
</heading>
<div class="add-container">
  <form action="/countries/{{ country.id }}/edit" method="post" class="add-form">
    <div id="name-title">
      <label for="country_name">Country:</label>
      <input type="text" id="country_name" name="country_name" value="{{country.name}}" required autofocus>
    </div>
  
    <div>
        <label for="image">Image:</label>
        <input type="url" id="image" name="image" placeholder="insert URL">
    </div>
  
    <button type="submit" class="button">Update Country</button>
  
  </form>

{% endblock %}