{% extends "base.html" %}

{% block content %}

<section class = "country-list">
    <h2>
        My Country List
    </h2>
    <a href="/addcountry">
        <button class="button">
            Add Country
        </button>
    </a>
{% for country in countries %}
    <div class = "country block">
        <p>
            <a href="/countries/{{country.id}}">{{country.name}}</a>
        </p>
        <p>
            {% if country.visited == true %}
                <form action="/countries/{{country.id}}/visited" method="POST">
                <input type="submit" value="&#10003; Visited" class="visited-button">
                </form>    
            {% else %}
                <form action="/countries/{{country.id}}/visited" method="POST">
                <input type="submit" value="&#10060; Unvisited" class="visited-button">
                </form> 
            {% endif %}
        </p>
        <hr>
    </div>

{% endfor %}
</section>

{% endblock %}