{% extends "base.html" %}

{% block content %}

<section class = "country-list">
    <h2>
        My Country List
    </h2>
    <a href="/addcountry">
        <button class="button">
            Add Country
        </button>
    </a>
{% for country in countries %}
    <div class = "country block">
        <p>
            {{country.name}}
        </p>
        <p>
            {% if country.visited == true %}
                VISITED!
            {% else %}
                UNVISITED
            {% endif %}
        </p>
    </div>
</section>

{% endfor %}

{% endblock %}