{% extends "base.html" %}

{% block content %}
{% if country.image == "placeholder_country_image" %}
    <div class="main-image-container">    
        {% set imgUrl = "/images/" + country.image + ".jpg" %}
        <img src = "{{url_for('static', filename=imgUrl)}}" class="main-image">
    </div>
{% else %}
    <div class="main-image-container">
        <img src="{{country.image}}">
    </div>
{% endif %}

<section class = 'show-container'>
    <heading>
        <div id = 'show-title'>
            <h2>{{country.name}}</h2>
            {% if country.visited == true %}
                <form action="/countries/{{country.id}}/visited" method="POST">
                <input type="submit" value="&#10003; Visited" class="visited-button">
                </form>    
            {% else %}
                <form action="/countries/{{country.id}}/visited" method="POST">
                <input type="submit" value="&#10060; Unvisited" class="visited-button">
                </form> 
            {% endif %}
        </div>
    </heading>
<div id = "show-controls">
    <p>
        <a href="/countries/{{country.id}}/delete/">
            <button class="button">
                Delete
            </button>
    </p>
    <p>
        <a href="/countries/{{ country.id }}/edit">
            <button class="button">
                Edit
            </button>
        </a>
    </p>
</div>
</section>

<section class="places-entries-container">
    
    
    <section class="places-list">
        <h2>Places in {{country.name}}</h2>
        <div>
            {% for place in places %}
                {% if place.country.id == country.id %}
                    <div id = "place-name-visited-container">
                        <a href="/countries/places/{{place.id}}">
                            <h3>{{place.name}}</h3>
                        </a>
                        {% if place.visited == true %}
                            <form action="/countries/places/{{place.id}}/visited" method="POST">
                            <input type="submit" value="&#10003; Visited" class="visited-button">
                            </form> 
                        {% else %}
                            <form action="/countries/places/{{place.id}}/visited" method="POST">
                            <input type="submit" value="&#10060; Unvisited" class="visited-button">
                            </form>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a href="/countries/places/addplace">
            <button class="button">
                Add Place
            </button>
        </a>
        

    </section>    

    <section id = "entry-list">
        <heading id = "entry-title">
        <h2>My {{ country.name }} Journal</h2>
            <a href="/countries/entries/addentry">
                <button class="button">
                    Add Entry
                </button>
            </a>
        </heading>
        
        {% for entry in entries %}
            {% if country.id == entry.country.id %}
                <p>
                    <a href="/countries/entries/{{ entry.id }}">{{ entry.title }}</a>
                    </p>
                    <div class = "journal-excerpt">
                        <p>
                            {{ entry.text }}
                        </p>
                    </div>
                    <p>
                        <a href="/countries/entries/{{ entry.id }}">read more...</a>
                    </p>
                    <p id="datestamp">
                        added: {{ entry.date_stamp }}
                    </p>
                    <hr>
            
            {% endif %}
            
        {% endfor %}
        
    </section>
</section>

{% endblock %}