{% extends "base.html" %}

{% block content %}
<section>
<p>{{country.name}}</p>
<p>
    {% if country.visited == true %}
        <form action="/countries/{{country.id}}/visited" method="POST">
        <input type="submit" value="&#10003; Visited" class="visited-button">
        </form>    
    {% else %}
        <form action="/countries/{{country.id}}/visited" method="POST">
        <input type="submit" value="&#10060; Unvisited" class="visited-button">
        </form> 
    {% endif %}
</p>
<p>
    <form action="/countries/{{country.id}}/delete" method="POST" class="button">
        <input type="submit" value="Delete"> 
    </form>
</p>
<p>
    <a href="/countries/{{ country.id }}/edit">
        <button class="button">
            Edit
        </button>
    </a>
</p>
</section>
<section class="places list">
    <h2>Places in {{country.name}}</h2>
    <div class="place container">
        {% for place in places %}
            {% if place.country.id == country.id %}

                <a href="/countries/places/{{place.id}}">
                    <p>{{place.name}}</p>
                </a>
                {% if place.visited == true %}
                    <form action="/countries/places/{{place.id}}/visited" method="POST">
                    <input type="submit" value="&#10003; Visited" class="visited-button">
                    </form> 
                {% else %}
                    <form action="/countries/places/{{place.id}}/visited" method="POST">
                    <input type="submit" value="&#10060; Unvisited" class="visited-button">
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <a href="/countries/places/addplace">
        <button class="button">
            Add Place
        </button>
    </a>
    

</section>    


{% endblock %}