{% extends "base.html" %}

{% block content %}
<heading id = "show-title">
  <h2>
    Edit Entry
  </h2>
</heading>
<div class="add-entry-container">
<form action="/countries/entries/{{entry.id}}/edit" method="post" class="add-form">
    <div>
        <label for="entry_title">Title:</label>
        <input type="text" id="entry_title" name="entry_title" value="{{entry.title}}" required>
      </div>

    <div>
        <label for="entry_image">Image:</label>
        <input type="text" id="image" name="image" placeholder="new image URL">
      </div>

    <div>
        <label for="entry_text">Post:</label>
        <input type="textarea" id="entry_text" name="entry_text" value="{{entry.text}}" required>
      </div>

    <button type="submit" class="button">Update Entry</button>
</form>


{% endblock %}