{% extends "base.html" %}

{% block content %}

{% if place.image == "placeholder_place_image" %}
    <div class="main-image-container">    
        {% set imgUrl = "/images/" + place.image + ".jpg" %}
        <img src = "{{url_for('static', filename=imgUrl)}}" class="main-image">
    </div>
{% else %}
    <div class="main-image-container">
        <img src="{{place.image}}">
    </div>
{% endif %}

<section class = "show-container">
    <headng>
        <div id = 'show-title'>
            <h2>{{place.name}}</h2>
            {% if place.visited == true %}
                <form action="/countries//places/{{place.id}}/visited" method="POST">
                <input type="submit" value="&#10003; Visited" class="visited-button">
                </form> 
            {% else %}
                <form action="/countries/places/{{place.id}}/visited" method="POST">
                <input type="submit" value="&#10060; Unvisited" class="visited-button">
                </form>
            {% endif %}
        </div>
    </headng>
<div id = "show-controls">
    <p>
        <form action="/countries/places/{{place.id}}/delete" method="POST">
            <input type="submit" value="Delete Country" class="button">
            </form> 
    </p>
    <p>
        <a href="/countries/places/{{ place.id }}/edit">
            <button class="button">
                Edit
            </button>
        </a>
    </p>
</div>
</section>

<section class="places-entries-container">

<section id = "entry-list">
    <heading id = "entry-title">
        <h2>My {{ place.name }} journal</h2>
        <a href="/countries/places/entries/addentry">
            <button class="button">
                Add Entry
            </button>
        </a>
    </heading>
    {% for entry in entries %}
        {% if place.id == entry.place.id %}
        <p>
            <a href="/countries/places/entries/{{ entry.id }}">{{ entry.title }}</a>
        </p>
        <div class = "journal-excerpt"></div>
            <p>
                {{ entry.text }}
            </p>
        </div>
        <p>
            <a href="/countries/places/entries/{{ entry.id }}">read more...</a>
        </p>
        <p id="datestamp">
            added: {{ entry.date_stamp }}
        </p>
        <hr>
        {% endif %}
    {% endfor %}

    </a>
</section>
</section>

{% endblock %}