h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #525050;
}

a {
    text-decoration: none;
    color:#00625f;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

hr {
    border: 3px solid #56ABA1;
    border-radius: 5px;
    width: 80%;
    margin-top: 0;
}

.header-container {
    background-color: #56ABA1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0px 1px 5px rgba(107,144,140,50); 
}

.footer-container {
    background-color: #56ABA1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 75px;
    margin-top: 0px;
    box-shadow: 0px -1px 5px rgba(107,144,140,30); 

}

#logo {
    margin: 0;
    padding: 1%;
    padding-left: 3%;
}

#logo > img {
    margin: 0;
    padding: 0;
}


#nav {
    margin: 0;
    padding: 1%;
    padding-right: 3%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 10px;
}


#nav-continent-select > select {
    background-color: #00D9D1;
    border: 2px solid #8B8B8B;
    border-radius: 10px;
    padding: 7px;
    margin: 0;
}


body {
    background-image: url('/static/images/bg-tile.jpg');
    background-repeat: repeat;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #525050;
}

.home-container {
    background-color: rgba(229, 154, 142, 110);
    opacity: 0.8;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
    
}

#home-buttons {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 15%
}

#all-button {
    text-align: center;
    padding: 1%;
    padding-right: 3%;
    padding-left: 3%;
    white-space: nowrap;
}

.button {
    background-color: #F1D3C8;
    border: 0px solid #8B8B8B;
    border-radius: 10px;
    margin: 1%;
    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;
    white-space:nowrap;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #525050;
    
}

.button:hover {
    background-color: #00D9D1; 
}

.button:active {
    background-color: #ef8860;
} 

.button > a {
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif,;
    font-weight: 500;
}

#page-subheading {
    text-align: center;
    margin:auto;
    width: 50%;
}

#add-country {
    display: flex;
    justify-content: flex-end;
}

.country-list {
    margin: auto;
    width: 50%;
    margin-bottom: 5%;
}

.country-block {
    background-color: #E59A8E;
    border-radius: 20px;
    border: 0px;
    padding: 2%;
    margin: 2%;
    display: flex;
    white-space: nowrap;
    gap: 10px;
    overflow: hidden;
    height: 110px;
    justify-content: space-between;
    align-items: stretch;
}


.visited-button {
    background-color: #F1D3C8;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    
}

#country-title {
    white-space: nowrap;
    margin: 0%;
}

#country-title > a {
    text-decoration: none;
}

#country-entries {
    white-space: wrap;
    overflow: hidden;
}

#block-buttons {
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}

.block-button {
    background-color: #F1D3C8;
    border: 0px solid #8B8B8B;
    border-radius: 10px;
    margin: 7%;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #525050;
}

.block-button:hover {
    background-color: #00D9D1; 
}

.block-button:active {
    background-color: #ef8860;
} 

.main-image-container {
    max-width: 100%;
    height: 300px;
    white-space: nowrap;
    overflow: hidden;
}

/* .main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 150%;
} */


.show-container {
    margin: auto;
    width: 50%;
    margin-top: 2%;
    padding: 2%;
    text-align: center;
    border-radius: 10px;
}

#show-title {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    
}

#show-title > h2 {
    margin-right: 1%;
    font-size: 200%;
}

#show-controls {
    margin:0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0; 
    gap: 10px;
}

.places-entries-container {
    margin: auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10%;
    
}


.places-list > h2 {
    white-space: nowrap;
    padding: 0;
}

#place-name-visited-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color:#E59A8E;
    margin-bottom: 5px;
    padding: 7%;
    border-radius: 10px; 
}


#entry-list {
    margin: 0px;
}

#entry-title {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin: 0;
}

#datestamp {
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    color: grey;
    text-align: right;
}

.entry-image > img {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;

}

.journal-excerpt {
    max-height: 67px;
    overflow: clip;
}

.add-container {
    padding: 3%;
    margin: auto;
    width: 25%;
    white-space: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E59A8E;
    border-radius: 20px;
    
}

.add-form {
    display: grid;
    gap: 10px;
    grid-template: 
    'name-title'
    'image'
    'country'
    'submit';
    justify-items: center;

}

.add-form > #name-title {
    grid-area: 'name-title';  
    margin-bottom: 10px;
}

.add-form > #image {
    grid-area: 'image';
    margin-bottom: 10px;
}

.add-form > #submit {
    grid-area: 'submit';
    margin-bottom: 10px;
}

.add-form > #country-id {
    grid-area: 'country';
    margin-bottom: 10px;
}

input[type='text'], input[type='URL'], select {
    background-color: #00D9D1;
    border: 2px solid #8B8B8B;
    border-radius: 10px;
    padding: 10px;
}

.add-entry-container {
    padding: 3%;
    margin: auto;
    width: 40%;
    white-space: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E59A8E;
    border-radius: 20px;
    
    
}

/* input {
    overflow: scroll;

} */

textarea {
    background-color: #00D9D1;
    border: 2px solid #8B8B8B;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 500px;
    overflow-wrap: break-word;
    
}

.country-links-title {
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}
.country-links {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

