<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

    {% block head %}
    
    {% endblock %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');   
    </style>
    <title>&#9728; Vacay: Your Dream Holiday journal</title>
</head>
<body>
    <heading>
        <div class = "header-container">
        <h1 id="logo">
            <a href="/">
                <img src = {{url_for('static', filename='vacay-logo.png') }} height="60px">
            </a>
        </h1>
        
        
        <nav id="nav">
            
            
            <form action="/countries" method="post" id="nav-continent-select">
                <select id="entry_title" name="continent" required>
                    <option value="Africa">Africa</option>
                    <option value="Antarctica">Antarctica</option>
                    <option value="Asia">Asia</option>
                    <option value="Australia">Australia</option>
                    <option value="Europe">Europe</option>
                    <option value="North America">North America</option>
                    <option value="South America">South America</option>
                </select>
            <button type="submit" class="button">Go</button>
            </form>

            |
                
            <a href="/addcountry">
                <button class="button">
                    &#10133; Add country
                </button>
            </a>

            <a href="/countries">
                <button class="button">
                    My countries
                </button>
            </a>

            <button class="button">
                Account
            </button>

            </nav>
        </div>
    </heading>
    
    {% block content %}


    {% endblock %}

</body>
</html>