{% extends "base.html" %}

{% block content %}
<main class="home-main">
    <section class = "home-container">
        <div class = "home-container-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla porttitor massa id neque aliquam vestibulum morbi. Ultrices in iaculis nunc sed augue lacus viverra. Sit amet tellus cras adipiscing enim. Cras adipiscing enim eu turpis egestas. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Est pellentesque elit ullamcorper dignissim cras tincidunt. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit.
        </div>
    </section>
    <button id = "all-button">
        <a href="/countries">Your countries</a>
    </button>
</main>
{% endblock %}